body {
  height: 100%;
  width: 100%;
  position: absolute;
}
.ff{
  overflow-y: auto;
}

/*offcanvas*/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


.offcanvas-collapse {
  overflow-y: auto;
  background-color: #d1dce7;
}
